* {
    margin: 0;
}

body {
    background: #121725;
    color: #C2CBE5;
    font-family: 'Chivo', sans-serif;
}

.decorative-pattern {
    display: none;
}

.logo-area {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 57px;
}

.signup-box {
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    flex-direction: column;
    order: 2;
}

.heading {
    text-transform: uppercase;
    color: #54E6AF;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
}

.heading, .signup-box_text {
    font-weight: 100;
}

.heading__light {
    color: #C2CBE5;
}

.signup-box_text {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 33px;
}

input, button {
    border-radius: 28px;
    border-style: none;
    margin: 5px;
    font-weight: 700;
    font-family: 'Chivo', sans-serif;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 32px;
}

input {
    background: #2C344B;
    border-radius: 28px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.5;
}

button {
    font-size: 14px;
    line-height: 28px;
    color: #121725;
    background: #54E6AF;
    box-shadow: 0 25px 20px -20px rgba(84, 230, 175, 0.497913);
}

button:hover {
    background: #B3FFE2;
}

.client-logos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.client-logo__apple, .client-logo__spotify {
    height: 17px;
}

.client-logo__pocket {
    height: 11px;
}

.client-logo__google {
    height: 15px;
}

@media screen and (max-width: 767px) {
    .hero-area {
        padding: 24px;
    }
}

@media screen and (min-width: 768px) {
    .signup-form {
        order: 0;
        background: #2C344B;
        width: 427px;
        height: 56px;
        font-size: 14px;
        line-height: 28px;
        color: #121725;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 28px;
        margin-bottom: 64px;
    }

    button {
        padding: 0 27px;
    }

    .decorative-pattern {
        display: block;
        width: 232px;
        height: 104px;
        position: absolute;
        bottom: -257px;
    }

    .logo-area {
        margin: 0;
        text-align: left;
    }

    .logo {
        width: 135px;
        height: 56px;
        position: absolute;
        margin-top: 59px;
        margin-left: 39px;
    }

.hero-area {
    position: relative;
    margin: 0 auto;
    width: 768px;
    height: 767px;
    background: url("./assets/tablet/image-host.jpg") no-repeat top right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .signup-box {
        margin-top: 152px;
        margin-left: 39px;
        background: #121725;
        width: 635px;
    }

    .heading {
        font-size: 48px;
        line-height: 56px;
        margin-top: 93px;
        margin-bottom: 31px;
        text-align: left;
    }

    .signup-box_text {
        width: 445px;
        font-size: 18px;
        line-height: 28px;
        color: #C2CBE5;
        text-align: left;
        margin-bottom: 40px;
    }

    .client-logos {
        width: 536px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3px;
    }

    .client-logo__apple, .client-logo__spotify {
        height: 29px;
    }

    .client-logo__pocket {
        height: 26px;
    }

    .client-logo__google {
        height: 18px;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        top: -28px;
        margin: 0
    }

    .hero-area {
        background: red;
        position: relative;
        height: 640px;
        width: 1275px;
        margin: 130px auto;
        background: url("./assets/desktop/image-host.jpg") no-repeat top right;
    }

    .hero-area .inner-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .signup-box {
        background: #121725;
        width: 723px;
    }

    h1 {
        font-size: 52px;
        line-height: 62px;
        text-transform: uppercase;
        color: #54E6AF;
        margin-top: 88px;
        margin-bottom: 24px;
    }

    .signup-box_text {
        width: 445px;
        font-size: 18px;
        line-height: 28px;
        color: #C2CBE5;
        margin-bottom: 40px;
    }

    .heading, .signup-box_text {
        font-weight: 100;
    }

    .heading__light {
        color: #C2CBE5;
    }

    .decorative-pattern {
        position: absolute;
        right: 0;
        bottom: -50px;
    }
}