* {
    margin: 0;
}

body {
    background: #121725;
    color: #C2CBE5;
    font-family: 'Chivo', sans-serif;
}


@media screen and (min-width: 768px) {
    .decorative-pattern {
        width: 232px;
        height: 104px;
        position: absolute;
        bottom: -257px;
    }

    .logo {
        width: 135px;
        height: 56px;
        position: absolute;
        margin-top: 59px;
        margin-left: 39px;
    }

    .hero-area {
        position: relative;
        margin: 0 auto;
        width: 768px;
        height: 767px;
        background: url("./assets/tablet/image-host.jpg") no-repeat top right;
    }

    .hero-area .inner-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .signup-box {
        margin-top: 152px;
        margin-left: 39px;
        background: #121725;
        width: 635px;
    }

    h1 {
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #54E6AF;
        margin-top: 93px;
        margin-bottom: 31px;
    }

    .heading, .signup-box_text {
        font-weight: 100;
    }

    .heading__light {
        color: #C2CBE5;
    }

    .signup-box_text {
        width: 445px;
        font-size: 18px;
        line-height: 28px;
        color: #C2CBE5;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .logo {
        top: -28px
    }

    .hero-area {
        position: relative;
        height: 640px;
        width: 1275px;
        margin: 130px auto;
        background: url("./assets/desktop/image-host.jpg") no-repeat top right;
    }

    .hero-area .inner-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .signup-box {
        background: #121725;
        width: 723px;
    }

    h1 {
        font-size: 52px;
        line-height: 62px;
        text-transform: uppercase;
        color: #54E6AF;
        margin-top: 88px;
        margin-bottom: 24px;
    }

    .signup-box_text {
        width: 445px;
        font-size: 18px;
        line-height: 28px;
        color: #C2CBE5;
        margin-bottom: 40px;
    }

    .heading, .signup-box_text {
        font-weight: 100;
    }

    .heading__light {
        color: #C2CBE5;
    }

    .decorative-pattern {
        right: 0;
        bottom: -50px;
    }
}

.signup-input {
    background: #2C344B;
    width: 427px;
    height: 56px;
    font-size: 14px;
    line-height: 28px;
    color: #121725;
    display: flex;
    justify-content: space-between;
    border-radius: 28px;
    margin-bottom: 64px;
}

input, button {
    border-radius: 28px;
    border-style: none;
    margin: 5px;
    font-weight: 700;
    font-family: 'Chivo', sans-serif;
}

input {
    background: #2C344B;
    padding-left: 32px;
    border-radius: 28px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.5;
}

button {
    font-size: 14px;
    line-height: 28px;
    color: #121725;
    padding: 5px 27px;
}

.client-logos {
    width: 536px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
}

.client-logo__apple, .client-logo__spotify {
    height: 29px;
}

.client-logo__pocket {
    height: 26px;
}

.client-logo__google {
    height: 18px;
}