body {
    background: #121725;
    color: #C2CBE5;
    font-family: 'Chivo', sans-serif;
}

.hero-area {
    height: 640px;
    width: 1275px;
    margin: 130px auto;
    background: url("./assets/desktop/image-host.jpg") no-repeat top right;
}

.hero-area .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signup-box {
    background: #121725;
    width: 723px;
}